<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.lipov.laborki">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="pl.lipov.laborki.App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashScreen"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="pl.lipov.laborki.presentation.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="pl.lipov.laborki.presentation.map.MapActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqJ_cxlY4lJ6RcaddQjgnmGYt8709mKP8" />

    </application>

</manifest>